[submodule "third_party/glfw"]
	path = third_party/glfw
	url = git@github.com:lttlflla/glfw.git
[submodule "third_party/vectormath"]
	path = third_party/vectormath
	url = git@github.com:lttlflla/vectormath.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = git@github.com:lttlflla/imgui.git
[submodule "third_party/SDL"]
	path = third_party/SDL
	url = git@github.com:lttlflla/SDL.git
[submodule "third_party/glm"]
	path = third_party/glm
	url = git@github.com:lttlflla/glm.git
[submodule "third_party/glew-cmake"]
	path = third_party/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "third_party/assimp"]
	path = third_party/assimp
	url = git@github.com:lttlflla/assimp.git
[submodule "third_party/stb"]
	path = third_party/stb
	url = git@github.com:lttlflla/stb.git
[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = git@github.com:lttlflla/abseil-cpp.git
